# Программирование на Python 

# Интерактивные визуализации в Plotly

*Автор: Татьяна Рогович, НИУ ВШЭ*

In [1]:
!pip install plotly

Requirement already satisfied: plotly in ./opt/anaconda3/lib/python3.9/site-packages (5.6.0)
Requirement already satisfied: tenacity>=6.2.0 in ./opt/anaconda3/lib/python3.9/site-packages (from plotly) (8.0.1)
Requirement already satisfied: six in ./opt/anaconda3/lib/python3.9/site-packages (from plotly) (1.16.0)

In [2]:
import plotly
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import pandas as pd

Давайте теперь попробуем построить пару графиков для обитателей леса.

In [9]:
forest = pd.read_csv('https://raw.githubusercontent.com/aaparshina/PROG_22-23/main/DATA/populations.txt', sep = '\t')

In [10]:
forest.head()

   year     hare     lynx  carrot
0  1900  30000.0   4000.0   48300
1  1901  47200.0   6100.0   48200
2  1902  70200.0   9800.0   41500
3  1903  77400.0  35200.0   38200
4  1904  36300.0  59400.0   40600

## Упражнения

1. Постройте линеный тренд, который сравнивает популяции зайцев и морковки за все годы.
2. Постройте столбчатый график, который сравнивает общую популяцию (зайцы, рыси и морковки) с популяцией рысей по годам.

## Упражнение

1. Постройте на одном графике тренды для всех, кто живет в лесу (зайцы, рыси, морковки). Подпишите шкалы, поменяйте цвет всех линий, задайте название графика для легенды.

## Упражнение

1. Постройте график рассеяния для данных по преступности в США, где по шкале x будет количество убийств (murder), по y - ограбления (burglary). За размер будет отвечать количество людей в штате (возможно, нуждается в масшатабировании), а за цвет - количество угнанных автомобилей. При наведении курсора на точку должно выводиться названия штата (обратите внимание на атрибут текст в примерах выше).

Цвет, размер, прозрачность и цветовая схема указываются в словаре аттрибутов маркера (size, color, opacity, colorscale, showscale).

In [28]:
crimes = pd.read_csv('https://raw.githubusercontent.com/aaparshina/DDC_22-23_basics_python/main/data/crimeRatesByState2005.tsv', sep = '\t')

In [29]:
crimes.head()

,state,murder,Forcible_rate,Robbery,aggravated_assult,burglary,larceny_theft,motor_vehicle_theft,population
0,Alabama,8.2,34.3,141.4,247.8,953.8,2650.0,288.3,4627851
1,Alaska,4.8,81.1,80.9,465.1,622.5,2599.1,391.0,686293
2,Arizona,7.5,33.8,144.4,327.4,948.4,2965.2,924.4,6500180
3,Arkansas,6.7,42.9,91.1,386.8,1084.6,2711.2,262.1,2855390
4,California,6.9,26.0,176.1,317.3,693.3,1916.5,712.8,36756666

## Упражнение

Сделай график рассеяния для данных gapminder.

1. Преобразуйте ВВП с помощью логарифма.
2. Отфильтруйте данные только для одного года (например, 1972)
3. ВВП по шкале X, продолжительность жизни по Y.
4. За цвет маркера отвечают континенты (не забудьте перевести переменную в категориальную).
5. За размер - население.

In [31]:
gapminder = pd.read_csv('https://github.com/aaparshina/PROG_22-23/raw/main/DATA/gapminderData.csv')
gapminder.head()

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106